.scroller {
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.scroller .inner::-webkit-scrollbar {
  display: none;
}

.scroller .inner {
  /* width: 300%; */
  overflow: scroll;
  transition: transform 0.5s ease;
}

.scroller .inner img {
  /* width: 33.33%; */
  display: block;
  /* height: 250px; */
  float: left;
}
